MYSQL_HOST=mariadb
MYSQL_DATABASE=wordpress
MYSQL_USER=wpuser
MYSQL_PASSWORD=CHANGE_ME
MYSQL_ROOT_PASSWORD=CHANGE_ME

WP_ADMIN_USER=wp42boss
WP_ADMIN_PASSWORD=CHANGE_ME
WP_ADMIN_EMAIL=admin@42.fr

WP_USER=editor42
WP_USER_PASSWORD=CHANGE_ME
WP_USER_EMAIL=editor@42.fr
